<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<form >
  <div class="field form-group">
    <%= form.label :name %> <br>
    <%= form.text_field :name, class:"form-control", id: :product_name %>
  </div>

  <div class="field form-group">
    <%= form.label :description %> <br>
    <%= form.text_area :description, class:"form-control", id: :product_description %>
  </div>

  <div class="field form-group">
    <%= form.label :image_url %>
    <%= form.text_field :image_url, class:"form-control", id: :product_image_url %>
  </div>

  <div class="field form-group">
  <%= form.label :more_about %><br>
  <%= form.text_field :more_about, class:"form-control" %>
  </div>

  <div class="field form-group">
  <%= form.label :price %><br>
  <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
    <!--%= submit_tag "Submit", class: "btn btn-primary send-button" %-->  
  </div>
  </form>
<% end %>
