

      <div class="col-sm-4 col-md-3">
      <%= image_tag(product.image_url, class: "img-responsive") %>
      
<!-- generates the HTML tag: -->
<!--a href="/products/3>Show Product</a-->

        <h3> <%= product.name %> </h3>
        

        <p><%= product.description %></p>
        <p> <%= product.more_about %> </p>
        <p> <%= link_to "Show Package", product %> <p><br>
        <p>€ <%= product.price %></p>
        
        
       
      </div><!-- /col -->
    