
<p id="notice"><%= notice %></p>


<div class="product-show">
  <div class="row" data-product-id="<%= @product.id %>" >
    <h1>
      <%= @product.name %>
    </h1>

    <h2>
      <%= @product.description %>
    </h2>

    <%= image_tag( @product.image_url, class: "img-responsive img-zoom1", data_zoom_image: "@product.image_url") %>


    <p>
      <%= @product.image_url %>
    </p>

    <h3>
      <strong><%= @product.more_about %></strong>
    </h3>

    <p> <h4>Average Rating: </h4> </p> <div class='rated' id='average-rating' data-score='<%= @product.average_rating %>'></div>  

    <h3>
       Price:
      <%= @product.price %> <small><span class="glyphicon glyphicon-euro fa-sm"></span></small>
    </h3>

   <%= form_tag '/payments/create' do %>
        <%= hidden_field_tag(:product_id, @product.id) %>
        <%= render partial: 'shared/stripe_checkout_button', class: 'btn btn-primary', id: 'pay' %>
        <script type='text/javascript'>
    $(document).ready(function(){
        $('.stripe-button-el span').remove();
            $('button.stripe-button-el').removeAttr('style').css({
                'display': 'block',
                'margin': '0 auto',
                'width':'15%',
                'padding':'0.5em',
                'background':'#3234cd',
                'color':'#28c093',
                'font-size':'1e' }).html('Pay here');
        });
         </script>
   <% end %>
  

    <% if @product.highest_rating_comment %>
    <p><%= @product.highest_rating_comment.body %></p>
    <% end %>

    <br>
    <p>
     <% if current_user && current_user.admin? %>
     <% end %>
     
    <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-primary', id: 'edit', style: 'color:#28c093' %> |
    <%= link_to 'Back', products_path, class: 'btn btn-primary', id: 'back', style: 'color:#28c093' %> </p>


    <div class="alert alert-info" style="display:none" role="alert">A new comment has been posted!</div>

    <%= render 'new_comment' %>
    <%= render 'comments' %>


<!--%= will_paginate @comments %-->
    <div class="digg_pagination">
      <div class="page_info">
        <%= page_entries_info @comments %>
      </div>
        <%= will_paginate @comments %>

   <!--h6 class="viewed"> Views:
        <span class="badge">
          <#%= @product.views%>
        </span>
   </h6-->

     
    </div>
  </div>
</div>
