<p id="notice"><%= notice %></p>


<div class="product-show">
  <h1>
    <strong>Name:</strong>
    <%= @product.name %>
  </h1>

  <h3>
    <strong>Description:</strong>
    <%= @product.description %>
  </h3>

<!--%= image_tag(product.image_url, class: "img-responsive") %-->

  <%= image_tag(@product.image_url, width: "550",class: "thumbnail img-zoom", data_zoom_image: @product.image_url) %>

  <p>
    <%= @product.image_url %>
  </p>

  <h3>
    <%= @product.more_about %>
  </h3>

  <h3>
    <strong> Price:</strong>
    <%= @product.price %>
  </h3>
</div>

<p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>



<%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-primary', style: 'color:#28c093' %> |
<%= link_to 'Back', products_path, class: 'btn btn-primary', style: 'color:#28c093' %>

<%= render 'new_comment' %>
<%= render 'comments' %>