<!DOCTYPE html>
<html>
  <head>
    <title>Julinsecommerce</title>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

   <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">

   <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
  
    <!--navbar starts here-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>          
          <div class="projectName navbar-brand">
          <%= image_tag("hibiskusgezeichnet.png", class: "img-responsive hoian") %>            
      
          </div> <!--end projectName -->          
        </div> <!--end navbar-header -->        
        <div class="navbar-collapse collapse">
        
          <ul class="navbar-right nav navbar-nav" id=mynavbar>
            <li class="active"> <%= link_to 'Home', root_path %> </li> 
            <li class="active"> <%= link_to 'Products', products_path %> </li> 
            <li class="active"> <%= link_to 'About', static_pages_landing_page_path %> </li> 
            <li class="active"> <%= link_to 'Contact', static_pages_contact_path %> </li>

          </ul>
        </div>
      </div> <!-- end nav container--> 
    </nav>

    <%= yield %>

    <footer>
       &copy; 2017 Julin
       <p> <span class="glyphicon glyphicon-arrow-up"></span> 
       <a href=#> Back to top </a>  
    </footer>

  </body>

</html>
