<!DOCTYPE html>
<html>
  <head>
    <title>Julinsecommerce</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">


   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

   

   <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
  
  <!--flash messages für mailer-->
    
    <div class="row">
      <% if alert %>
        <p class="alert alert-notice" role="alert"><%= alert %></p>
      <% end %>

      <% if notice %>
        <p  id="notice" class="alert alert-info" role="alert"><%= notice %></p>
      <% end %>
     </div>
    
    <!--div class="page-wrapper">
      <%= yield %>
    </div-->

   <!--p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p-->

    <!--navbar starts here-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>          
          <div class="projectName navbar-brand">
          <%= image_tag("hibiskusgezeichnet.png", class: "img-responsive hoian") %>            
      
          </div> <!--end projectName -->          
        </div> <!--end navbar-header -->        
        <div class="navbar-collapse collapse">
        
          <ul class="navbar-right nav navbar-nav" id=mynavbar>
            <li class="active"> <%= link_to 'Home', root_path %> </li> 
            <li class="active"> <%= link_to 'Vacation!', products_path %> </li> 
            <li class="active"> <%= link_to 'About', static_pages_index_path %> </li> 
            <li class="active"> <%= link_to 'Contact', static_pages_contact_path %> </li>

            <li> 
               <%= form_tag("/products", method: "get", class:"navbar-form navbar-right") do %> 
               <div class="form-group">
               <%= label_tag(:q, "Search for:", class:"hidden") %>
               <%= text_field_tag(:q, "", type:"text", class:"form-control", placeholder:"Search") %>
               </div>
               <%= submit_tag("Search", class:"btn btn-default") %>
               <% end %>      

            </li>
          </ul>

          <ul class="nav pull-right">
            <li>
                <% if user_signed_in? %>
                  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
                <% else %>
                  <%= link_to('Login', new_user_session_path) %>
                <% end %>
            </li>
          </ul>

        </div>
      </div> <!-- end nav container--> 
    </nav>

    <%= yield %>

    <footer>
       &copy; 2017 Julin
       <p> <span class="glyphicon glyphicon-arrow-up"></span> 
       <a href=#> Back to top </a>  
    </footer>

  </body>

</html>
